<div class="container">
  <nav id="nav" class="nav navbar navbar-expand-sm border-bottom">
    <h1 class="site-title navbar-brand mb-0">
      <a href="/">Lewis Boon</a>
    </h1>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/lewisboon/bookmarks">
          <span>Bookmarks</span>
        </a>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/lewis-boon-57594a2b/">
          <span>LinkedIn</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://github.com/lewisboon">
            <span>GitHub</span>
          </a>
      </li>
    </ul>
  </nav>
</div>