<style>
    .site-title a {
        text-decoration: none;
        font-size: 1.75rem;
        transition: color 0.15s;
    }
    .site-title a:hover {
        color: grey;
    }

    .nav-link span {
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
        transition: box-shadow .215s;
    }
    .nav-link span:hover {
        box-shadow: 0 1.25px 0 #000
    }
    
    #home-jumbotron {
        background-color: inherit;
    }
    #main {
        max-width: 720px;
        margin: 0 auto;
    }
    .font-125 {
        font-size: 125%;
    }
    .tag-btn {
        margin-bottom: 0.3em;
    }
    body {
        background-color: #f8f8f8;
    }
    img {
        max-width: 100%;
    }
    figcaption {
        color: grey;
        font-size: 0.75rem;
        text-align: center;
    }
    pre {
        /* Resets the bottom margin so code blocks don't appear to have a trailing space */
        margin-bottom: 0rem;
    }
    a {
        color: inherit;
    }
    
    .highlight {
        border: 1px solid #a8a7a7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: transparent;
        margin-bottom: 0.75rem;
    }
</style>