<style>
    #nav a {
        font-weight: bold;
        color: inherit;
    }
    #nav-border {
        border-bottom: 1px solid #212529
    }
    #main {
        margin-top: 1em;
        margin-bottom: 4em;
    }
    #home-jumbotron {
        background-color: inherit;
    }
    .font-125 {
        font-size: 125%;
    }
    .tag-btn {
        margin-bottom: 0.3em;
    }
    img {
        max-width: 100%;
    }
    figcaption {
        color: grey;
        font-size: 0.75rem;
        text-align: center;
    }
    pre {
        /* Resets the bottom margin so code blocks don't appear to have a trailing space */
        margin-bottom: 0rem;
    }


    .highlight {
        border: 1px solid #a8a7a7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: transparent;
        margin-bottom: 0.75rem;
    }
</style>